
html, body {
  width: 100vw;
  height: 100vh;
  margin: 0px;
  padding: 0px;
}
.screen {
  position: relative;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  overscroll-behavior-y: none;
}
h1 {
  font-size: 1rem;
  line-height: 6vh;
  font-family: sans-serif;
  padding: 0 2%;
  height: 6%;
  position: absolute;
  bottom: 0;
  background-color: rgb(252, 238, 140);
  width: 100%;
  margin: 0;
  z-index: 1;
}